---
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("projects", "batik-classification");
---

<main>
  <h1>{entry.data.title}</h1>

  <article>
    <Content />
  </article>
</main>
