---
import { getEntry, render } from "astro:content";

const entry = await getEntry("projects", "rfm-segmentation");
const { Content } = await render(entry);
---

<main>
  <h1>{entry.data.title}</h1>

  <article>
    <Content />
  </article>
</main>
